@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-5xl text-grape px-8 py-4;
}

h5, h6 {
    @apply text-sand text-lg font-normal pt-20;
}

body {
    @apply bg-cotton flex flex-row h-screen;
}

.about {
    @apply flex flex-col w-1/4 h-full pt-16 bg-grape;
}

.name {
    @apply mt-8 font-medium text-sand text-4xl;
}

.age-pronoums {
    @apply flex flex-row space-x-10 mx-2 mt-4 font-light text-sand text-2xl;
}

.about-me {
    @apply px-32 pt-20 font-medium text-sand text-lg text-justify;
}

.content {
    @apply w-3/4 text-center flex flex-col items-center gap-16 overflow-y-auto;
}

.title {
    @apply bg-sand rounded-3xl mt-20 mb-10;
}

.projects {
    @apply grid grid-cols-3 gap-32 pb-20;
}